@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$primary-color: rgb(218, 35, 104);
$secondary-color: #000033;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', monospace;
}

body {
  color: white;
  background-color: $secondary-color;
}

.wrapper {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;

  &__text {
    font-size: 4.5rem;
    font-weight: 600;
    color: rgb(218, 35, 104);
    font-weight: bold;
  }

  &__dashed {
    border-bottom: 8px solid $primary-color;
    width: 50%;
    margin: 0 1rem;
    margin-top: .6rem;
  }

  &__logo {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      filter: drop-shadow(0 0 0.75rem $primary-color);
    }
  }
}

.content {

  .images-list,
  .member-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;

    .member {
      width: 30%;
      margin-bottom: 2rem;

      img {
        max-width: 100%;
        width: 300px;
        height: 500px;
        object-fit: cover;
        border-radius: 1rem;
      }

      &__image {}

      &__desc {}



      &__name {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      &__id {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.member-detail {
  display: flex;
  justify-content: center;

  .member__info {
    margin-right: auto;

    &>* {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }
}

// Uti
.red {
  color: $primary-color;
}

.white {
  color: white;
}

.logo {
  position: relative;
  display: block;

  &:hover {

    &::before {
      content: 'Back to home';
      position: absolute;
      right: 0;
      left: 0;
      width: 150px;
      height: 150px;
      background-color: transparent;
      color: red;
      z-index: 10;
      transform: translate(-0%, 70%);
    }
  }
}

.logo:hover .logo::before {
  transition: all 0.3s ease-in-out;

}